.open {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    z-index: 10;
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: wheat;
    border-radius: 20px;
}
.open h2 {
    display: block;
    color: black;
    position: relative;
    z-index: 11;
} 
.quantity__buttons {
    display: flex;
    width: 94px;
    justify-content: space-between;
}
.quantity__buttons div {
    font-size: 3rem;
}