
.cart__icon {
    background-color: #fb6100;
    padding: 12px;
    width: 34px;
    border-radius: 50%;
    position: fixed;
    z-index: 2;
    right: 20px;
    top: 15px;
}
.cart__icon__removed {
    background-color: transparent;
    width: auto;
    padding: 0;
    margin: 0;
    top: 13px;
    right: 7%;
    font-size: 1.5rem;
}
.cart__icon__removed h3 {
    margin: 0;
    background-color: white;
    padding: 0.6rem 1rem 0.6rem 1rem;
    font-size: 1.3rem;
    color: black;
    border-radius: 2rem;
    border: 2px solid black;
}
.cart__icon:hover {
    cursor: pointer;
}
.darker {
    background-color:white;
}
.cart__icon svg {
    position: relative;
    top: 2px;
    right: 1px;
}
.cart__quantity {
    color: #fb6100;
    font-weight: 700;
    position: absolute;
    right: -3px;
    top: -4px;
    z-index: 1;
    padding: 7px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}
.orange__font {
    color: #fb6100;
}

@media (max-width: 767px) {
    .cart__icon__removed { 
        top: 10px;
        right: 7%;
    }
    .cart__icon__removed h3 {
       font-size: 1rem;
    }
}
