.cart__page * {
    color: #f36805;
}
.show {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}
.hide {
    display: none;
}
.takeaway__image {
    border-radius: 50%;
    width: 190px;
    height: 150px;
    object-fit: cover;
}
