* {
  font-family: Arial;
}


.menu__images * {
  font-family: cursive;
}
.menu__images {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
    overflow: unset;
}
.holder {
  position: relative;
  flex-basis: 33.33%;
  max-width: 33.33%;
  height: 40vw;
}
.menu__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkgrey;
  opacity: 0.7;
  z-index: 2;
}
.images__overlay.hide{
  opacity: 0;
  z-index: -10;
}
.dish__name {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 3.7rem;
    font-weight: 600;
    white-space: pre;
    text-shadow: 2px 2px darkorange;
}
.hide__overflow {
  overflow: hidden;
  position: fixed;
}
@media (max-width: 768px) {
    .menu__images .holder {
      flex-basis: 50%;
      max-width: 50%;
      object-fit: cover;
    }
  }
  
  @media (max-width: 767px) {
    .menu__images .holder {
      height: 58vw;
    }
    #bhaji {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
    .dish__name {
      font-size: 2.8rem;
    }
  }