.cart__icon {
    background-color: #fb6100;
    padding: 12px;
    width: 34px;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 15px;
}
.cart__icon:hover {
    cursor: pointer;
}
.darker {
    background-color:white;
}
.cart__icon svg {
    position: relative;
    top: 2px;
    right: 1px;
}
.cart__quantity {
    color: #fb6100;
    font-weight: 700;
    position: absolute;
    right: -3px;
    top: -4px;
    z-index: 1;
    padding: 7px;
    height: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 37%;
    background-color: white;
}
