.images__flex {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.images__flex .holder {
  width: 100%;
  flex-basis: 33.33%;
  max-width: 33.33%;
  height: 40vw;
}
.images__flex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .images__flex img {
    flex-basis: 50%;
    max-width: 50%;
    object-fit: cover;
  }
}