
.modal * { 
  font-family: Arial;
}
.modal {
    z-index: -1;
    border: 2px solid white;
    background-color: white;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s;
  }
  .visible {
    z-index: 3;
    opacity: 1;
    transition: opacity 1s;
  }
  .close__modal {
    position: fixed;
    top: 9px;
    right: 11px;
    width: 27px;
    height: 32px;
  }
  .close__modal:hover {
      cursor: pointer;
  }
  .style__modal {
    height: 35px;
    width: 2px;
    margin-left: 12px;
    background-color: transparent;
    transform: rotate(45deg);
    Z-index: 1;
    background-color: black;
  }
  .style__modal__cross {
    height: 35px;
    width: 2px;
    background-color: transparent;
    transform: rotate(90deg);
    Z-index: 2;
    background-color: black;
  }
  .modal__cart {
    background-color: #f36805;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    color: white;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .modal__cart:hover {
    background-color:#d15802;
    cursor: pointer;
  }
  .modal__quantity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 21%;
  }
  .modal__quantity div {
    color: #f36805;
    font-size: 2.5rem;
  }
  .modal__quantity div:nth-child(2) {
    color:black;
    font-size: 2rem;
  }
 

  